body {
    font-family: Arial;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

div {
    margin: 10px 0;
}

label {
    display: block;
}

input {
    width: 100%;
    padding: 5px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
}

#resultado {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}